

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
}

.row {
	width: 100%;
	display: flex; 
	flex-wrap: wrap;
}
.col-1 {
	width: 8.3%;
}
.col-2 {
	width: 16.66%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33%;
}
.col-5 {
	width: 41.66%;
}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.3%;
}
.col-8{
	width: 66.66%;
}
.col-9{
	width: 74.7%;
}
.col-10{
	width: 83%;
}
.col-11{
	width: 91.3%;
}
.col-12{
	width: 100%;
}
.row img{
	
	width: 100%;
}
.chamber{
	padding: 40px;

}
.chamber img{
	box-shadow: 0px 0px 4px #004A7F69;
}